html {
     font: {
          family: Helvetica;
          size: 62.5%;
     };
     line-height: 1;
     margin: 0;
     padding: 0;
     .container {
          max-width: 1500px !important;
     }
     .container-md {
          max-width: 1500px !important;

     }
}


body {
     font-size: 2rem;
}

a {
     color: white;
     margin: 0;
     padding: 0;
     line-height: 1;

     &:hover {
          text-decoration: none;
     }
}
