html {
    font: {
        family: Helvetica;
        size: 62.5%;
    }
    line-height: 1;
    margin: 0;
    padding: 0;
    .container {
        max-width: 1200px !important;
    }
    .container-md {
        max-width: 1400px !important;
    }
}

body {
    font-size: 2rem;

    background: #f5f9fa;
    //background-color: #FFF6F6;
    background-repeat: no-repeat;
}
th {
    font-weight: normal;
}
a {
    color: white;
    margin: 0;
    padding: 0;
    line-height: 1;

    &:hover {
        text-decoration: none;
    }
}
.disabled {
    pointer-events: none;
}
