@import '../variables/variables';

.background-container {
     width: 80wv;
     height: 66rem;
      background: url(../img/background-shop.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     margin-bottom: 10rem;

     & p {
          color:  white;
          text-shadow:
           2px 3px 3px black,
          -3px -2px 3px #2a2a22,
          0 0 10px $mainColor
          ;
          font-size: 7rem;
     }
}