@import '../variables/variables';

.background-container {
     width: 100wv;
     height: 80rem;
     background: url(../img/background-shop.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;

     & p {
          color: white;
          text-shadow: 2px 3px 1px $mainColor;
          font-size: 7rem;
     }
}