@import "../variables/variables";

.footer-container {
    //  background: rgb(2,0,36);
    //  background: linear-gradient(128deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background-color: #f1dede;
    color: black;
    margin-top: 7rem;
}

.socal-link {
    font: {
        size: 3rem;
        weight: initial;
    }
}
.social-link-icon {
    color: $mainColor;
    border: thin solid gray;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transition: 0.2s;
    margin-right: 1rem;
    &:hover {
        cursor: pointer;
        color: white;
        background-color: $mainColor;
    }
}

.footer-title {
    font-size: 2.5rem;
}

.address {
    color: black;
    &:hover {
        color: $mainColor !important;

    }
}

.toggle-event {
    display: none !important;
}
