@import '../variables/variables';

.nav-container {
     background-color: $mainColor;
     height: 5rem;
}

.nav-link-container {

     & li:hover {
          background-color: white;
          cursor: pointer;
          & a{
               color: $mainColor
          }
        
     }

     & li {
          height: 100%;
          display: flex;
          align-items: center;
          transition: 0.2s;     
        
     }
}
.icon-login {
     padding: 1rem;
}

.login-container {
     color: white;
     padding: 0 1rem;
     height: 100%;
     transition: 0.2s;
     &:hover {
          background-color: white;
          cursor: pointer;
          color: $mainColor;
     }
}

.bar-icon-container {
     color: white;
     & i {
          padding: 0.5rem;
          background-color: white;
          color: $mainColor;
          border: 2px solid black;
          border-radius: 3px;
          transition: 0.1s;
     }
     & i:hover {
          background-color: $mainColor;
          color: white;
          cursor: pointer;
     }
}

.linkActive {
     background-color: white;
     color: $mainColor !important;
     & a {
          color: $mainColor
     }
}
.custom-link-a {
     
     height: 100%;
     display: flex;
     align-items: center;
}
@media only screen and(max-width: 575px) {
    .nav-responsive {
         position: absolute;
         top: 5rem;
         width: 20rem;
         height: 30rem;
         background-color: $mainColor;
         z-index: 999;
        
     }
     .nav-link-container {
          display: flex;
          flex-direction: column;
          align-items: center;
                    
          & li {
               width: 100%;
               height: 5rem;
                & a {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                }
          }
     }
}
.nav-icon-active {
     border: 3px solid red;
}