html {
  font-size: 62.5%;
  line-height: 1;
  margin: 0;
  padding: 0;
}
html .container {
  max-width: 1300px !important;
}
html .container-md {
  max-width: 1400px !important;
}

body {
  font-size: 2rem;
  font-family: Roboto, Poppins, sans-serif;
  background: #f5f9fa;
  background-repeat: no-repeat;
}

th {
  font-weight: normal;
}

a {
  color: white;
  margin: 0;
  padding: 0;
  line-height: 1;
}
a:hover {
  text-decoration: none;
}

.disabled {
  pointer-events: none;
}

/*
     general component
*/
.background-container {
  width: 80wv;
  height: 40rem;
  background: url(../img/background-shop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 5rem;
}
.background-container p {
  color: white;
  text-shadow: 2px 3px 3px black, -3px -2px 3px #2a2a22, 0 0 10px #0084ff;
  font-size: 7rem;
}

.nav-container {
  background-color: white;
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 10px gray;
  transition: 0.4s;
  z-index: 99;
}

.nav-link-container li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  width: 12rem;
  position: relative;
}
.nav-link-container li a {
  color: black;
}
.nav-link-container li a:after {
  transition: 0.3s;
  width: 100%;
  transform: scale(0);
  content: "";
  display: block;
  position: absolute;
  bottom: 1rem;
  left: 0;
  height: 0.2rem;
  background-color: #0084ff;
}
.nav-link-container li:hover {
  cursor: pointer;
}
.nav-link-container li:hover a {
  color: #0084ff;
}
.nav-link-container li:hover a:after {
  transform: scale(1) !important;
}

.icon-login {
  padding: 1rem;
}

.login-container {
  color: black;
  padding: 0 1rem;
  height: 100%;
  transition: 0.2s;
}
.login-container:hover {
  background-color: white;
  cursor: pointer;
  color: #0084ff;
}

.bar-icon-container {
  color: white;
}
.bar-icon-container i {
  padding: 0.5rem;
  background-color: white;
  color: #0084ff;
  border: 2px solid black;
  border-radius: 3px;
  transition: 0.1s;
}
.bar-icon-container i:hover {
  background-color: #0084ff;
  color: white;
  cursor: pointer;
}

.linkActive {
  color: #0084ff !important;
}

.custom-link-a {
  height: 100%;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 899px) {
  .nav-responsive {
    position: absolute;
    top: 8rem;
    padding: 0;
    width: 30rem;
    height: 30rem;
    z-index: 2;
    box-shadow: 2px 5px 10px black;
  }

  .nav-link-container {
    display: flex;
    background-color: white;
    background-size: cover;
    flex-direction: column;
    align-items: center;
  }
  .nav-link-container li {
    width: 100%;
    height: 5rem;
  }
  .nav-link-container li:hover a:after {
    transform: scale(0.5) !important;
  }
  .nav-link-container li a {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
@media only screen and (min-width: 900px) {
  .bar-icon-container {
    display: none !important;
  }
}
.nav-icon-active {
  border: 3px solid red;
}

.ll-container {
  position: relative;
}
.ll-container:hover .logout {
  display: block;
}
.ll-container .logout {
  background-color: white;
  color: #0084ff;
  position: absolute;
  z-index: 9;
  width: 15rem;
  padding: 2rem 1rem;
  display: none;
  cursor: pointer;
}
.ll-container .logout:hover {
  background-color: #0084ff;
  color: white;
}

.toggle-event {
  display: none !important;
}

.footer-container {
  background-color: #f1dede;
  color: black;
  font-size: 1.5rem;
  margin-top: 7rem;
}

.socal-link {
  font-size: 3rem;
  font-weight: initial;
}

.social-link-icon {
  color: #0084ff;
  border: thin solid gray;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transition: 0.2s;
  margin-right: 1rem;
}
.social-link-icon:hover {
  cursor: pointer;
  color: white;
  background-color: #0084ff;
}

.footer-title {
  font-size: 2.5rem;
}

.address {
  color: black;
}
.address:hover {
  color: #0084ff !important;
}

/*
     home component
*/
.img-carousel {
  margin-top: 8rem;
  width: 100vw;
  height: 60rem;
}

.carousel-caption {
  position: absolute;
  top: 35%;
  left: 20%;
  width: 50rem;
  height: 10rem;
  text-align: left;
  color: white;
  text-shadow: 0px 1px 20px black;
}
.carousel-caption p {
  font-size: 5rem;
  font-weight: bold;
}

.btn-shop-now {
  margin: 0;
  font-size: 1.8rem;
}

.item {
  display: none;
  position: relative;
  transition: 1s ease-in-out left;
}

.fp-container {
  margin-top: 8rem;
}
.fp-container-left {
  font-weight: bold;
}
.fp-container-center::after {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 0.3rem;
  background-color: #dddddd;
  content: "";
}
.fp-container-right div {
  font-size: 2rem;
  margin: 0 0.8rem;
  cursor: pointer;
}
.fp-container-right div:hover {
  color: #0084ff;
}

.fp-actived {
  font-weight: bold;
  color: #0084ff;
}

@media only screen and (min-width: 576px) {
  .fp-container-left {
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 768px) {
  .fp-container-left {
    font-size: 2.5rem;
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  .fp-container-left {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .fp-container-left {
    font-size: 3.5rem;
  }
}
.intro-bg-1 {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 63rem;
  line-height: 0.7;
  text-shadow: 2px 1px 2px black;
  font-weight: bold;
  background: url("../img/background-carousel1.jpg");
}

.intro-bg-2 {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 30rem;
  line-height: 0.7;
  text-shadow: 2px 1px 2px black;
  font-weight: bold;
  background: url("../img/style2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.intro-bg-3 {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 30rem;
  line-height: 0.7;
  text-shadow: 2px 1px 2px black;
  font-weight: bold;
  background: url("../img/style1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-bg-4 {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 30rem;
  line-height: 0.7;
  text-shadow: 2px 1px 2px black;
  font-weight: bold;
  background: url("../img/style4.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-bg-5 {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 40rem;
  line-height: 0.7;
  text-shadow: 2px 1px 2px black;
  font-weight: bold;
  background: url("../img/background-carousel3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-bg-6 {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 40rem;
  line-height: 0.7;
  text-shadow: 2px 1px 2px black;
  font-weight: bold;
  background: url("../img/shopnow.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1;
}
.intro-bg-6 .special {
  text-align: end;
}

.decor {
  font-size: 2rem;
  color: orange;
}

.intro-tag-a:hover {
  color: white;
}

.intro-container {
  transition: 0.3s;
  margin-top: 3rem;
  border: thin solid #dddddd;
}
.intro-container:hover {
  box-shadow: 0 0 20px black;
}

.intro-background {
  margin-top: 2rem;
  padding: 6rem 0;
  background-color: #fff6f6;
}

@media only screen and (max-width: 768px) {
  .intro-bg-1 {
    height: 30rem;
  }
}
.home-logo {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.home-logo:hover {
  box-shadow: 0 0 20px black;
}
.home-logo-background {
  background-color: #FFF6F6;
  margin: 2rem 0;
  padding: 4rem 0;
}

/*
     Shop component
*/
.collapse-content {
  border-bottom: 1px solid #dddddd;
  font-size: 1.5rem;
}
.collapse-content:hover {
  cursor: pointer;
  background-color: #0084ff;
  color: white;
}

.card-header {
  background: #dddddd;
  font-weight: bold;
  font-size: 2rem;
}
.card-header:hover {
  color: white;
  background-color: #0084ff;
  cursor: pointer;
}

.product-container {
  position: relative;
  height: 38rem;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}
.product-container:hover .product-content {
  background-color: white;
  bottom: 4rem;
}
.product-container .product-img-container {
  width: 100%;
  height: 25rem;
  position: relative;
  margin-top: 15px;
}
.product-container .product-img-container .is-hot {
  font-weight: bold;
  color: yellow;
  text-shadow: 3px 2px 1px red;
}
.product-container .product-content {
  position: absolute;
  background-color: #f5f9fa;
  width: calc(100% + 30px) !important;
  margin: 0 -15px;
  height: 15rem;
  left: 0;
  bottom: 0;
  padding: 0.5rem 1.5rem;
  line-height: 1;
  z-index: 2;
  transition: 0.5s;
}
.product-container .product-content-category {
  font-size: 1.2rem;
  color: gray;
}
.product-container .product-content-name {
  font-size: 1.5rem;
  font-weight: bold;
}
.product-container .product-content-shortDesc {
  font-size: 1.2rem;
  color: gray;
  padding-top: 0.5rem;
}
.product-container .product-content-views {
  font-weight: bold;
  font-size: 1.2rem;
  padding-top: 0.5rem;
}
.product-container .product-content-link {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 2rem);
  margin: 0 1rem;
  height: 3rem;
  position: absolute;
  bottom: 1rem;
  font-size: 1.5rem;
}
.product-container .product-content-link:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  transition: 0.5s;
  transform: scaleX(0);
  opacity: 0;
}
.product-container .product-content-link:hover {
  opacity: 1;
}
.product-container .product-content-link:hover:after {
  transform: scaleX(1);
  opacity: 1;
  box-shadow: 0 0 10px black;
  background-image: radial-gradient(circle, #051937, #152d54, #264272, #365992, #4771b3);
}
.product-container .product-content-link:hover a {
  color: white;
  border-bottom: 2px solid white;
  z-index: 2;
}
.product-container .product-content-link a {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.is-discount-product {
  text-decoration: line-through;
}

.product-img-marker {
  position: absolute;
  top: 5%;
  left: 10%;
  text-shadow: 3px 1px 2px #0084ff;
  color: white;
  font-size: 3rem;
}

.product-when-hover {
  transition: 0.2s;
}
.product-when-hover:hover {
  box-shadow: 0 0 20px black;
  z-index: 9;
}

.pd-img-container {
  border: thin solid #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pd-img-container .pd-img {
  width: 80%;
  height: 45rem;
  box-shadow: 0 0 10px black;
  transition: 0.3s;
  cursor: pointer;
}
.pd-img-container .pd-img:hover {
  box-shadow: 0 0 25px black;
}

.pd-views-container {
  border: thin solid #dddddd;
}
.pd-views-container .pd-colors-picker-container {
  margin: 2rem;
}
.pd-views-container .pd-colors-picker-container .pd-title {
  display: inline-block;
  color: #0084ff;
  font-size: 2rem;
  font-weight: bold;
  margin-right: 3rem;
  width: 10rem;
}
.pd-views-container .pd-colors-picker-container .pd-colors-picker {
  display: inline-block;
  flex-direction: column;
  border: thin solid #dddddd;
  border-radius: 0.3rem;
  padding: 1rem;
  width: 7rem;
  text-align: center;
  margin-right: 2rem;
  transition: 0.2s;
}
.pd-views-container .pd-colors-picker-container .pd-colors-picker:hover {
  cursor: pointer;
  box-shadow: 0 0 0.5rem #0084ff;
}
.pd-views-container .pd-colors-picker-container .pd-add-to-cart {
  padding: 1rem 2rem;
  font-size: 2rem;
}
.pd-views-container .pd-category {
  color: gray;
}
.pd-views-container .pd-name {
  font-weight: bold;
  font-size: 3rem;
}
.pd-views-container .pd-price {
  font-size: 2.5rem;
  color: red;
}

.isPicked {
  background-color: #0084ff;
  color: white;
  box-shadow: 0 0 10px orange;
}

.quantity-input-container {
  display: flex;
}
.quantity-input-container .incr-decr {
  border: 1px solid #0084ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
  transition: 0.2s;
}
.quantity-input-container .incr-decr:hover {
  cursor: pointer;
  background-color: #0084ff;
  color: white;
}
.quantity-input-container input {
  outline: none;
  width: 5rem;
  text-align: center;
  border: thin solid #0084ff;
  border-left: none;
  border-right: none;
}

/*
     Cart component
*/
.cart-pop-item {
  transition: 0.2s;
  width: 5rem;
  cursor: pointer;
}
.cart-pop-item:hover {
  background-color: #0084ff;
  color: white;
}

.total-price {
  font-size: 5rem;
  color: red;
}
.total-price-title {
  font-size: 3rem;
  font-font-weight: bold;
}
.total-price-btn {
  font-size: 2.5rem;
  padding: 1rem 4rem;
}

@media screen and (max-width: 992px) {
  .table-container {
    width: 992px;
  }

  .table-when-responsive {
    width: 100%;
    height: 20rem;
    background-color: white;
    overflow: scroll;
  }
}
/*
     Contact component
*/
.contact-container {
  padding-top: 17rem;
}
.contact-container-card {
  padding: 3rem 2rem;
  height: 23rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.43), 0 1px 5px rgba(0, 0, 42, 0.4);
  border-radius: 7.5px;
  user-select: none;
  background-color: white;
  margin-bottom: 30px;
}
.contact-container-card:hover {
  box-shadow: 0 0 20px #0084ff;
}
.contact-container-card-icon {
  color: #0084ff;
  padding-bottom: 2.5rem;
}
.contact-container-card-name {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 0.5;
}
.contact-container-card-text {
  text-align: center;
  opacity: 0.8;
  font-size: 1.5rem;
}

.map {
  height: 60rem;
  width: 100%;
}

/*
     Admin feature component
*/
.add-product-header {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 5rem;
}

.add-product-left-container {
  box-shadow: 0 0 5px black;
  border-radius: 5px;
  padding: 5rem;
}
.add-product-left-img {
  width: 100%;
  height: 30rem;
}

/**
     Authentication
*/
.form-container {
  padding: 10rem 3rem 3rem 3rem;
  position: relative;
}
.form-container .sign-in-container {
  background-color: #f6f8fa;
  box-shadow: 0 0 5px black;
  border-radius: 8px;
  padding: 2rem;
}
.form-container .sign-in-container .custom-input {
  border-radius: 5px;
  font-size: 2rem;
  padding: 0 2rem;
}
.form-container .sign-in-container .submit-btn {
  margin-top: 3rem;
  font-size: 2.2rem;
}
.form-container .sign-in-container .register {
  color: #0084ff;
}
.form-container .sign-in-container .register:hover {
  border-bottom: 1px solid #0084ff;
}

.is-profile-collapse-active {
  background-color: orange;
}

.card-header:hover {
  background-color: orange;
}

.profile-user-info-title {
  display: inline-block;
  font-weight: bold;
  width: 13rem;
}

.admin-container {
  padding-top: 5rem;
}
.admin-container .admin-split {
  display: block;
  width: 100%;
  height: 0.1rem;
  margin: 5rem 0;
  box-shadow: 0 0 5px black;
}

.admin-cards {
  width: 105%;
  height: 15rem;
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.43), 0 1px 5px rgba(0, 0, 0, 0.4);
  padding: 2rem 1rem;
  cursor: pointer;
  /*
   hover
  */
}
.admin-cards-sign {
  font-size: 3.5rem;
}
.admin-cards-title {
  font-size: 1.5rem;
}
.admin-cards-icon {
  font-size: 4rem;
  transition: 0.6s;
}
.admin-cards-more-info {
  background-color: rgba(41, 43, 44, 0.4);
  transition: 0.2s;
  margin: 0 -10px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.admin-cards:hover .admin-cards-icon {
  font-size: 5.5rem;
}
.admin-cards-more-info:hover {
  background-color: #292b2c;
}

.notfound {
  padding: 20rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notfound a {
  color: #0084ff;
}
.notfound a:hover {
  color: black;
  border-bottom: 1px solid black;
}

.right-profile-container {
  font-size: 1.5rem;
}

.show-order-detail {
  transition: 0.3s;
}
.show-order-detail:hover {
  cursor: pointer;
  color: white;
  background-color: orange;
}
.show-order-detail-btn {
  width: 100%;
  height: 100%;
  display: block;
}

.change-password-input {
  height: 3.5rem;
  border-radius: 10px;
  padding: 0 2rem;
  font-size: 1.5rem;
}

/*# sourceMappingURL=styles.css.map */
