@import '../../variables/variables';

.collapse-content {
     border-bottom: 1px solid #dddddd;
     font-size: 1.5rem;

     &:hover {
          cursor: pointer;
          background-color: $mainColor;
          color: white;
     }
}
.card-header {
     background: #dddddd;
     font-weight: bold;
     font-size: 2rem;

     &:hover {
          color: white;
          background-color: $mainColor;
          cursor: pointer;
     }
}