@import '../../variables/variables';

.pd-img {
     width: 100%;
}
.pd-colors-picker-container {
     margin: 2rem;
     .pd-title {
          display: inline-block;
          color: $mainColor;
          font-size: 2rem;
          font-weight: bold;
          margin-right: 3rem;
          width: 10rem;
         

          
     }
     .pd-colors-picker {
          display: inline-block;
          flex-direction: column;
          border: thin solid #dddddd;
          border-radius: 0.3rem;
          padding: 1rem;
          width: 7rem;
          text-align: center;
          margin-right: 2rem;
          transition: 0.2s;

          &:hover {
               cursor: pointer;
               box-shadow: 0 0 0.5rem $mainColor;
          }
     }
     .pd-add-to-cart {
         padding: 1rem 2rem;
          font-size: 2rem;
     }
}

.isPicked {
     background-color: $mainColor;
     color: white;
     box-shadow: 0 0 10px orange;
}
