@import '../../variables/variables';

.pd-img {
     width: 100%;
}
.pd-colors-picker-container {
     .pd-title {
          color: $mainColor;
          font-size: 2rem;
          font-weight: bold;
          margin-right: 3rem;
          
     }
     .pd-colors-picker {
          display: inline-block;
          flex-direction: column;
          border: thin solid #dddddd;
          border-radius: 0.3rem;
          padding: 1rem 1rem;
          width: 7rem;
          text-align: center;
          margin-right: 1rem;
          transition: 0.2s;

          &:hover {
               cursor: pointer;
               box-shadow: 0 0 0.5rem $mainColor;
          }
     }
}
