@import "../../variables/variables";

.product-container {
    position: relative;
    height: 38rem;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;

    &:hover .product-content {
        background-color: white;

        bottom: 4rem;
    }

    .product-img-container {
        width: 100%;
        height: 25rem;
        position: relative;
        margin-top: 15px;
        .is-hot {
            font-weight: bold;
            color: yellow;
            text-shadow: 3px 2px 1px red;
        }
    }

    .product-content {
        position: absolute;
        background-color: #f5f9fa;
        width: calc(100% + 30px) !important;
        margin: 0 -15px;
        height: 15rem;
        left: 0;
        bottom: 0;
        padding: 0.5rem 1.5rem;
        line-height: 1;
        z-index: 2;
        transition: 0.5s;

        &-category {
            font-size: 1.2rem;
            color: gray;
        }
        &-name {
            font-size: 1.5rem;
            font-weight: bold;
        }
        &-shortDesc {
            font-size: 1.2rem;
            color: gray;
            padding-top: 0.5rem;
        }
        &-views {
            font-weight: bold;
            font-size: 1.2rem;
            padding-top: 0.5rem;
        }

        &-link {
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(100% - 2rem);
            margin: 0 1rem;
            height: 3rem;
            position: absolute;
            bottom: 1rem;
            font-size: 1.5rem;
            &:after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                display: block;
                transition: 0.5s;
                transform: scaleX(0);
                opacity: 0;
            }
            &:hover {
                opacity: 1;
                &:after {
                    transform: scaleX(1);
                    opacity: 1;
                    box-shadow: 0 0 10px black;
                    background-image: radial-gradient(
                        circle,
                        #051937,
                        #152d54,
                        #264272,
                        #365992,
                        #4771b3
                    );
                  
                }
            }
            &:hover a {
                color: white;
                border-bottom: 2px solid white;
                z-index: 2;
            }
            a {
                color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.is-discount-product {
    text-decoration: line-through;
}
.product-img-marker {
    position: absolute;
    top: 5%;
    left: 10%;
    text-shadow: 3px 1px 2px $mainColor;
    color: white;
    font-size: 3rem;
}

.product-when-hover {
    height: 38rem;
    transition: 0.2s;
    &:hover {
        box-shadow: 0 0 20px black;
        z-index: 9;
    }
}

.search-product {
    font-size: 2rem;
    padding: 0 2rem;
    margin-bottom: 2rem;
}
