@import "../../variables/variables";

.contact-container {
    padding-top: 17rem;

    &-card {
        padding: 3rem 2rem;
        height: 23rem;
        box-shadow: 0 0 5px rgb(0 0 0 / 43%), 0 1px 5px rgb(0 0 42 / 40%);
        border-radius: 7.5px;
        user-select: none;
        background-color: white;
        margin-bottom: 30px;
        &:hover {
            box-shadow: 0 0 20px $mainColor;
        }
        &-icon {
            color: $mainColor;
            padding-bottom: 2.5rem;
        }
        &-name {
            font-weight: bold;
            font-size: 2.5rem;
            line-height: 0.5;
        }

        &-text {
            text-align: center;
            opacity: 0.8;
            font-size: 1.5rem;
        }
    }
}

.map {
    height: 60rem;
    width: 100%;
}
