@import '../../variables/variables';

.add-product-header {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 5rem;
    color: $addProductColor;
}

.add-product-left {
    &-container {
        box-shadow: 0 0 5px black;
        border-radius: 5px;
        padding: 5rem;
    }

    &-img {
        width: 100%;
        height: 30rem;
    }
}
.add-product-right {
    &-txt-container {
        position: relative;

    }
    &-txt-badge {
        position: absolute;
        right: 15px;
        width: 10rem;
    }
    &-txt-input {
        border: none;
        outline: none;
        border-bottom: thin solid $addProductColor;
        width: 100%;
        height: 5rem;
        background-color: transparent;
        text-align: center;
        transition: 0.4s;
        padding-right: 12rem;
        &:focus {
            border-bottom: 3px solid $addProductColor;
        }
    }

    /*
    *   text area
    */
    &-text-area {
        padding: 1rem 2rem;
        font-size: 1.5rem;
    }
}
