@import "../../variables/variables";

.add-product-header {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 5rem;
    color: $addProductColor;
}

.add-product-left {
    &-container {
        box-shadow: 0 0 5px black;
        border-radius: 5px;
        padding: 5rem;
    }

    &-img {
        width: 100%;
        height: 30rem;
    }
}
.add-product-right {
    &-txt-container {
        position: relative;
    }
    &-txt-badge {
        position: absolute;
        right: 15px;
    }
    &-txt-input {
        border: none;
        outline: none;
        border-bottom: thin solid $addProductColor;
        width: 100%;
        height: 5rem;
        background-color: transparent;
        text-align: center;
        transition: 0.4s;
        &:focus {
            border-bottom: 3px solid $addProductColor;
        }
    }

    /*
    *   text area
    */
    &-text-area {
        padding: 1rem 2rem;
        font-size: 1.5rem;
    }
}

/*
    add supplier part
*/
.select-text {
    font-size: 1.5rem;
}
/*
    subproducts
*/
.subproducts-container {
    .subproducts-flag {
        box-shadow: 0 2px 10px $addProductColor,
        2px 0 5px green,
        -2px 0 10px yellow,
        0 -2px 10px purple;
        width: 5rem;
        height: 5rem;
        position: absolute;
        border-radius: 50%;
        top: -3rem;
        left: 3rem;
        user-select: none;
    }
    .subproducts-clear {
        color: white;
        width: 3rem;
        height: 3rem;
        position: absolute;
        border-radius: 50%;
        user-select: none;
        top: calc(50% - 20px);
        left: 0.2em;
        background-color: red;
        cursor: pointer;
        transform: scale(1);
        transition: 0.3s;
        &:hover {
            transform: scale(1.4);
            color: red;
            background-color: white;
            box-shadow: 0 0 5px red;
        }
    }
    .subproducts-title {
        font-size: 2rem;
        margin-bottom: 5rem;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 30rem;
            height: 1px;
            box-shadow: 0 0 10px $addProductColor;
        }
    }
    .subproducts-custom {
        padding: 0 2rem 2rem 2rem;
        border-left: 5px solid $addProductColor;
        border-radius: 7.5px;
    }

    .subproduct-block {
        margin: 3rem 5rem;
        color: black;
        opacity: 0.5;
        box-shadow: 0 0 5px $addProductColor;
        width: 50%;
        height: 10rem;
        border-radius: 7.5px;
        transform: scale(0.75);
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            transform: scale(1);
            opacity: 1;
            box-shadow: -1px 0 15px $addProductColor, 0 1px 10px red;
        }
    }
}
