.order-detail-customer-info {
     text-align: left;
     font-size: 1.5rem;
     &-title {
          display: inline-block;
          width: 15rem;
     }
}
.order-detail-modal {
     max-width: 1250px;
}
.order-detail-customer-total {
     margin-top: 3rem;
     color: red;
     font-size: 3rem;
}

.order-confirm {
     cursor: pointer;
     color: green;
     transition: 0.2s;
     &:hover {
          color: red;
     }
}

@media only screen and (max-width: 992px) {
     .customer-account-table-container {
          width: 100%;
          overflow: scroll;
     }
     .customer-account-table {
          width: 992px;
        
     }

     .manage-order-table-container {
          width: 100%;
          overflow: scroll;
     }
     .manage-order-table {
          width: 992px;
     }
}

