
.as-plain-text-input {
     padding: 1rem 2rem;
     font-size: 1.5rem;
     text-align: center;
     border-radius: 7.5px;
     margin-bottom: 0.5rem;
     height: 3.5rem;
}

.table-suppliers {
     font-size: 1.5rem;
    
}

.us-update-btn {
     cursor: pointer;
     color: green;
     &:hover {
          color: red;
     }
}

