@import '../../variables/variables';

.cart-pop-item {
     transition: 0.2s;
     width: 5rem;
     cursor: pointer;
     &:hover {
          background-color: $mainColor;
          color: white;
          
     }
}

.total-price {
     font-size: 5rem;
     color: red;
     
     &-title {
          font: {
               size: 3rem;
               font-weight: bold;
          }
     }
     &-btn {
          font-size: 2.5rem;
          padding: 1rem 4rem;
     }
    
}

@media screen and (max-width: 992px){
    .table-container {
         width: 992px;
    }
    .table-when-responsive {
         width: 100%;
         height: 20rem;
         background-color: white;
         overflow: scroll;
    }
}