.home-logo {
     width: 20rem;
     height: 20rem;
    
     border-radius: 50%;
     transition: 0.3s;
     cursor: pointer;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

     &:hover {
          box-shadow: 0 0 20px black;
     }

     &-background {
          background-color: #FFF6F6;
          margin: 2rem 0;
          padding: 4rem 0;
     }
}
